<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  <head>
    <title>Re:BOT - An NLP Based Chatbot for Customer Service</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


    <!-- Custom styles for this template -->
    <link href="static/css/creative.min.css" rel="stylesheet">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>

  </head>


  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Re:BOT</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#project">About The Project</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#aboutme">About Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/chat_interface.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/temporary.css") }}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">
        <div class="container">
          <div class="row">
              <div class="col-lg-8 mx-auto">
                  <div class="row">
                      <div class="chat_window">
                          <ul class="messages"></ul>
                          <div class="bottom_wrapper clearfix">
                              <div class="message_input_wrapper">
                                  <input id="msg_input" class="message_input" placeholder="Say Hi to begin chat..." />
                              </div>
                              <div class="send_message">
                                   <div class="text">send</div>
                              </div>
                          </div>
                      </div>
                      <div class="message_template">
                          <li class="message">
                              <div class="avatar"></div>
                              <div class="text_wrapper">
                                  <div class="text"></div>
                              </div>
                          </li>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </header>




    <section id="project">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About the Project: Comming Soon...</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </section>


    <section id="aboutme">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">About Me</h2>
            <hr class="my-4">
            <p class="mb-3">My name is Tianyi Zhang. I am currently a data science fellow at Insight Data Science. I just got my Ph.D. in physical oceanography at the University of South Carolina. My research work focused on numerical modeling and I used machine learning to classify tidal waves.</p>
            <p class="mb-5">I want to apply my predictive modling skills on data science.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-github fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="https://github.com/imzhangtianyi">GitHub</a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-linkedin fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="https://www.linkedin.com/in/imzhangtianyi/">LinkedIn</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename="js/bind.js") }}"></script>
    <script src="static/js/creative.min.js"></script>

  </body>

</html>
